body {
    background: #4FF;
    margin: 0;
    padding: 60px;
    width: 91%;
    height: 1000px;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

#principal {
    border: 3px solid #000;
    background: #07B2AD;
    width: 49%;
    height: 100%;
    float: left;
    font-size: 50px;;
}

#principal h1,h2 {
    text-align: center;
    font-size: 50px;
}


#adentro{
    border: 3px solid #000;
    background: #AE3CB2;
    width: 37.5%;
    height: 89.6%;
    float: right; 
    padding: 52px 52px 52px 101px;
}

#uno {
    border-radius: 10px;
    padding: 20px;
    background: orange;
    width: 50%;
    height: 25%;
    margin-left: 90px;
    margin-bottom: 50px;
    
}

#dos {
    border-radius: 10px;
    padding: 20px;
    background: yellow;
    width: 40%;
    height: 20%;
    margin-left: 113px;
    margin-bottom: 50px;
}

#trea {
    border-radius: 10px;
    padding: 20px;
    background: #B2AD28;
    width: 50%;
    height: 25%;
    margin-left: 90px;
    margin-bottom: 50px;
}

#Acee {
    clear: both;
    width: 150px;
    height: 50px;
    background: red;
    font-size: 40px;
    border: 1px solid #000;
    cursor: pointer;
}
